body {
	width: 720px;
	margin-left:auto;
	margin-right:auto;  
	font-family: Helvetica, sans-serif;
	font-size: 2em;
}
:link {
	color: #333333;
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 14px;
	text-decoration: none;
}
A:visited {
	color: #333333;
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 14px;
	text-decoration: none;
}

A:hover {
	color: #BEA12C;
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 14px;
	text-decoration: none;
}
A:active {
	color: #333333;
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 14px;
	text-decoration: none;
}
A.user:link {
	color: #333333;
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 14px;
	text-decoration: underline;
}
A.user:visited {
	color: #333333;
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 14px;
	text-decoration: underline;
}
A.user:active {
	color: #333333;
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 14px;
	text-decoration: underline;
}
table {
	/* border-collapse: collapse; */
}
td {
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: µ¸¿ò;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
}
button {
	font-family: µ¸¿ò;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
}
.title {
	font-family: µ¸¿ò;
	font-size: 12pt;
	color: #000000;
	line-height: 22px;
}

/* Form css */
.text {
	font-family: µ¸¿ò;
	font-size: 10pt;
	color: #333333;
}
.button {
	font-family: µ¸¿ò;
	font-size: 10pt;
	color: #333333;
}
.textarea {
	font-family: µ¸¿ò;
	font-size: 10pt;
	color: #333333;
}
.password {
	font-family: µ¸¿ò;
	font-size: 10pt;
	color: #333333;
}
.file {
	font-family: µ¸¿ò;
	font-size: 10pt;
	color: #333333;
}
.select {
	font-family: µ¸¿ò;
	font-size: 10pt;
	color: #333333;
}
